body {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    display: inline;
    padding: 10px;
    text-align: left;
}

.rightnav{
    display: inline;
    padding: 10px;
    text-align: right;
}

.googlelogo {
    padding-top: 109px;
}

form {
    display: inline-block;
    padding: 20px;
    overflow: auto;
}

.searchbar {
    width: 500px;
    border-radius: 24px;
    height: 30px;
}

footer {
    background-color: #f0f0f0;
    bottom: 0;
}