body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

li {
    display: inline;
    padding: 10px;
    text-align: left;
}

.rightnav{
    display: inline;
    padding: 10px;
    text-align: right;
}

.googlelogo {
    padding-top: 150px;
}

form {
    display: inline-block;
    padding: 20px;
    overflow: auto;
}

.searchbar {
    width: 500px;
    border-radius: 24px;
    height: 30px;
}

.navbar {
    background-color: #f0f0f0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    text-decoration: underline;
  }
  